---
/*
 * Astrid = Astro + Solid
 * Copyright (C) 2023  Mohammad Abdul Ahad Chowdhury
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
import Layout from '../layouts/Layout.astro'
import Link from '../components/Link.astro'
import { Counter } from '../components/Counter'
import { Timer } from '../components/Timer'
---

<Layout title="Astro + Solid = Astrid!">
	<main>
		<Counter client:load />
		<Timer client:load />
		<Link text="You have a message" address="/api/hello" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
